body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.metallic-background {
  background-color: #2d3748;
  background-image: linear-gradient(
    160deg,
    hsl(220, 5%, 35%) 0%,
    hsl(220, 5%, 20%) 20%,
    hsl(220, 5%, 25%) 40%,
    hsl(220, 5%, 25%) 60%,
    hsl(220, 5%, 20%) 80%,
    hsl(220, 5%, 35%) 100%
  );
}
